.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em;
  margin: auto;
  margin-bottom: 2em;
}
.pagination button {
  border: none;
  padding: 1em;
  background-color: #2b2d42;
  color: white;
  border-radius: 0.5em;

  &.active {
    background-color: #e9c46a;
  }
}